body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5;
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main h1 {
	text-align: center;
	background-color: #851944;
	color: #FFF;
	padding: 25px;
	border-bottom: 10px solid black;
	font-size: 60px;
    text-transform: uppercase;
}

p {
	text-align: justify;
	margin: 20px 0;
}



aside {
	background-color: #3C1D3D;
	color: #F2FFFC;
}

footer {
	background-color: #000;
	color: #F2FFFC;
}

nav a {
	color: #F2FFFC;
    text-transform: lowercase;
}

main a {
	color: #851944;
}

aside a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

aside, footer {
    padding: 20px;
}

main div {
	width: 720px;
	margin: auto;
	padding: 30px 0;
}

aside {
	text-align: center;
}

aside h1 {
	font-size: 30px;
	margin-bottom: 25px;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

h2 {
	font-size: 30px;
    clear: both;
}
.icones-sociais li{
    display: inline-block;

}



.icones-sociais a{
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}

.github{
    background-image: url(../img/github.png);
}

.twitter{
    background-image: url(../img/twitter.png)
}

.linkedin{
    background-image: url(../img/linkedin.png)
}


main{

    width: 80%;
    float: left;
    padding-bottom: 80px;

}

img, aside{
    width: 20%;
    float: right;
}

aside{
    clear: right;
    box-sizing: border-box;
}

.clearfix{
    clear: both;
}

.minha-foto, .navegacao-site {
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}


.minha-foto{
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
}



aside{

    position: relative;
    top: 300px;
}


footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    

}



